USE [QUANLINHATRO]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[TENDV] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](10) NOT NULL,
	[MAPTT] [char](10) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[THUEVAT] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHD] [char](10) NOT NULL,
	[MAPHONG] [char](10) NOT NULL,
	[MAKT] [char](10) NOT NULL,
	[NGAYTHUE] [datetime] NULL,
	[NGAYTRA] [datetime] NULL,
	[SOPHONG] [numeric](20, 0) NULL,
	[TRATRUOC] [real] NULL,
	[TRASAU] [real] NULL,
	[CHUTHICH] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHTHUE]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHTHUE](
	[MAKT] [char](10) NOT NULL,
	[TENKT] [char](50) NULL,
	[NAMSINH] [datetime] NULL,
	[CMND] [char](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ManHinh]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManHinh](
	[MaManHinh] [nvarchar](50) NOT NULL,
	[TenManHinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_ManHinh_1] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[tendangnhap] [nvarchar](50) NOT NULL,
	[matkhau] [nchar](20) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDungNhomNguoiDung]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungNhomNguoiDung](
	[tendangnhap] [nvarchar](50) NOT NULL,
	[MaNhom] [nvarchar](50) NOT NULL,
	[GhiChu] [nchar](10) NULL,
 CONSTRAINT [PK_NguoiDungNhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[tendangnhap] ASC,
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomNguoiDung]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNguoiDung](
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaNhom] [nvarchar](50) NOT NULL,
	[MaManHinh] [nvarchar](50) NOT NULL,
	[CoQuyen] [bit] NULL,
 CONSTRAINT [PK_PhanQuyen_1] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHANHTOAN]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHANHTOAN](
	[MAPTT] [char](10) NOT NULL,
	[MAHD] [char](10) NOT NULL,
	[SOTHANG] [int] NULL,
	[NGAYTT] [datetime] NULL,
	[TONGTIEN] [money] NULL,
	[TIENPHAITRA] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGCHOTHUE]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGCHOTHUE](
	[MAPHONG] [char](10) NOT NULL,
	[TINHTRANG] [char](10) NULL,
	[GIAPHONG] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUDUNG]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUDUNG](
	[MADV] [char](10) NOT NULL,
	[MAKT] [char](10) NOT NULL,
	[NGAYSUDUNG] [datetime] NULL,
	[TENDV] [text] NULL,
 CONSTRAINT [PK_SUDUNG] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[MAKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 10/05/2019 2:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [char](10) NOT NULL,
	[TENTB] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGBI]    Script Date: 10/05/2019 2:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANGBI](
	[MAPHONG] [char](10) NOT NULL,
	[MATB] [char](10) NOT NULL,
 CONSTRAINT [PK_TRANGBI] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'barButtonItem1', N'NguoiDung')
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'barButtonItem2', N'NhomNguoiDung')
INSERT [dbo].[ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'barButtonItem3', N'PhanQuyen')
INSERT [dbo].[NguoiDung] ([tendangnhap], [matkhau], [HoatDong]) VALUES (N'admin', N'admin               ', 1)
INSERT [dbo].[NguoiDung] ([tendangnhap], [matkhau], [HoatDong]) VALUES (N'user', N'user                ', 1)
INSERT [dbo].[NguoiDungNhomNguoiDung] ([tendangnhap], [MaNhom], [GhiChu]) VALUES (N'admin', N'N002', N'          ')
INSERT [dbo].[NguoiDungNhomNguoiDung] ([tendangnhap], [MaNhom], [GhiChu]) VALUES (N'user', N'N001', N'          ')
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'N001', N'Nhân Viên ', NULL)
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'N002', N'Quản Lý   ', N'Chủ')
INSERT [dbo].[PhanQuyen] ([MaNhom], [MaManHinh], [CoQuyen]) VALUES (N'N001', N'barButtonItem4', 1)
INSERT [dbo].[PhanQuyen] ([MaNhom], [MaManHinh], [CoQuyen]) VALUES (N'N002', N'barButtonItem1', 1)
INSERT [dbo].[PhanQuyen] ([MaNhom], [MaManHinh], [CoQuyen]) VALUES (N'N002', N'barButtonItem2', 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DICHVU]    Script Date: 10/05/2019 2:26:40 PM ******/
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [PK_DICHVU] PRIMARY KEY NONCLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADON]    Script Date: 10/05/2019 2:26:40 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOPDONG]    Script Date: 10/05/2019 2:26:40 PM ******/
ALTER TABLE [dbo].[HOPDONG] ADD  CONSTRAINT [PK_HOPDONG] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACHTHUE]    Script Date: 10/05/2019 2:26:40 PM ******/
ALTER TABLE [dbo].[KHACHTHUE] ADD  CONSTRAINT [PK_KHACHTHUE] PRIMARY KEY NONCLUSTERED 
(
	[MAKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUTHANHTOAN]    Script Date: 10/05/2019 2:26:40 PM ******/
ALTER TABLE [dbo].[PHIEUTHANHTOAN] ADD  CONSTRAINT [PK_PHIEUTHANHTOAN] PRIMARY KEY NONCLUSTERED 
(
	[MAPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHONGCHOTHUE]    Script Date: 10/05/2019 2:26:40 PM ******/
ALTER TABLE [dbo].[PHONGCHOTHUE] ADD  CONSTRAINT [PK_PHONGCHOTHUE] PRIMARY KEY NONCLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_THIETBI]    Script Date: 10/05/2019 2:26:40 PM ******/
ALTER TABLE [dbo].[THIETBI] ADD  CONSTRAINT [PK_THIETBI] PRIMARY KEY NONCLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_GOM_PHIEUTHA] FOREIGN KEY([MAPTT])
REFERENCES [dbo].[PHIEUTHANHTOAN] ([MAPTT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_GOM_PHIEUTHA]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_CUA_PHONGCHO] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGCHOTHUE] ([MAPHONG])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_CUA_PHONGCHO]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_DANGKI_KHACHTHU] FOREIGN KEY([MAKT])
REFERENCES [dbo].[KHACHTHUE] ([MAKT])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_DANGKI_KHACHTHU]
GO
ALTER TABLE [dbo].[NguoiDungNhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungNhomNguoiDung_NguoiDung] FOREIGN KEY([tendangnhap])
REFERENCES [dbo].[NguoiDung] ([tendangnhap])
GO
ALTER TABLE [dbo].[NguoiDungNhomNguoiDung] CHECK CONSTRAINT [FK_NguoiDungNhomNguoiDung_NguoiDung]
GO
ALTER TABLE [dbo].[NguoiDungNhomNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungNhomNguoiDung_NhomNguoiDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[NguoiDungNhomNguoiDung] CHECK CONSTRAINT [FK_NguoiDungNhomNguoiDung_NhomNguoiDung]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_ManHinh] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[ManHinh] ([MaManHinh])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_ManHinh]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_NhomNguoiDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_NhomNguoiDung]
GO
ALTER TABLE [dbo].[PHIEUTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHA_THUOC_HOPDONG] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOPDONG] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEUTHANHTOAN] CHECK CONSTRAINT [FK_PHIEUTHA_THUOC_HOPDONG]
GO
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_SUDUNG_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_SUDUNG_DICHVU]
GO
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_SUDUNG2_KHACHTHU] FOREIGN KEY([MAKT])
REFERENCES [dbo].[KHACHTHUE] ([MAKT])
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_SUDUNG2_KHACHTHU]
GO
ALTER TABLE [dbo].[TRANGBI]  WITH CHECK ADD  CONSTRAINT [FK_TRANGBI_TRANGBI_PHONGCHO] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGCHOTHUE] ([MAPHONG])
GO
ALTER TABLE [dbo].[TRANGBI] CHECK CONSTRAINT [FK_TRANGBI_TRANGBI_PHONGCHO]
GO
ALTER TABLE [dbo].[TRANGBI]  WITH CHECK ADD  CONSTRAINT [FK_TRANGBI_TRANGBI2_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[TRANGBI] CHECK CONSTRAINT [FK_TRANGBI_TRANGBI2_THIETBI]
GO
