<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.nhatroConnectionString" connectionString="Data Source=DESKTOP-311GUAJ\SQLEXPRESS;Initial Catalog=nhatro;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>