<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConTrol_TrangThaiPhong.Properties.Settings.nhaTroConnectionString"
            connectionString="Data Source=DESKTOP-311GUAJ\SQLEXPRESS;Initial Catalog=nhaTro;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>